# Anscombe's quartet dataset

This notebook aims to carry out the following four tasks:
1. Explain the background of the dataset, who created it, when was it created, and any speculation you can find regarding how it may have been created.
2. Plot the interesting aspects of the dataset.
3. Calculate the descriptive statistics of the variables in the dataset.
4. Explain why the dataset is interesting, referring to the plots and statistics created in the above points.

### Task 1: The Anscombe quartet and its origin

Anscombe's quartet consists of four datasets with almost identical descriptive statistics, but when each dataset is displayed graphically, they are displayed very differently [1]. Each dataset includes eleven x,y coordinates [1].
The statistician Francis Anscombe created the dataset in 1973 to show the following two points:
1. The importance to use graphs before analysing the data
2. Statisical properties can be effected by outliers [1].
The dataset counters the common impression among statisticians that:"
1. numerical calculations are exact, but graphs are rough;
2. for any particular kind of statistical data there is just one set of calculations consituting a correct statistical analysis;
3. performing intricate calculations is virtuous, whereas actually looking at the data is cheating." [2, p. 17].
So in a nutshell, what Anscombe aimed to prove is that graphs can be just as good as evaluating the data statistically, especially because the statistical data is skewed through outliers which are very visible in a graphical representation.
How the datasets were created is not known [1; 3] but according to other research there are several values which are the same in all four datasets:
1. mean for x is 9
2. mean for y is 7.50
3. Sample variance of x is 11
4. Sample variance of y is 4.125
5. Correlation between x and y is 0.816
6. Regression of y on x is Y = 3.00 + 0.50x [4].
The code calculating this will follow.

## 2. Plotting the dataset

In [19]:
import pandas as pd
import io
df=pd.read_csv("http://www-eio.upc.edu/~pau/cms/rdata/csv/datasets/anscombe.csv")
df

    Unnamed: 0  x1  x2  x3  x4     y1    y2     y3     y4
0            1  10  10  10   8   8.04  9.14   7.46   6.58
1            2   8   8   8   8   6.95  8.14   6.77   5.76
2            3  13  13  13   8   7.58  8.74  12.74   7.71
3            4   9   9   9   8   8.81  8.77   7.11   8.84
4            5  11  11  11   8   8.33  9.26   7.81   8.47
5            6  14  14  14   8   9.96  8.10   8.84   7.04
6            7   6   6   6   8   7.24  6.13   6.08   5.25
7            8   4   4   4  19   4.26  3.10   5.39  12.50
8            9  12  12  12   8  10.84  9.13   8.15   5.56
9           10   7   7   7   8   4.82  7.26   6.42   7.91
10          11   5   5   5   8   5.68  4.74   5.73   6.89

Dataset imported from a URL [5]

To display the plots I will need to import seaborn

In [32]:
import pandas as pd
Anscombe = pd.read_csv("http://www-eio.upc.edu/~pau/cms/rdata/csv/datasets/anscombe.csv")
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks")

sns.lmplot(x="x", y="y", data=Anscombe, hue="dataset", col="dataset", col_wrap=2, ci=None, scatter_kws={"s": 50, "alpha": 1})

KeyError: "['dataset' 'x' 'y'] not in index"

References:
[1] Wikipedia: https://en.wikipedia.org/wiki/Anscombe%27s_quartet
[2] Anscombe, Francis J. Graphs in Statisical Analysis, The Americal Statisitcian, Volume 27,pp. 17-21. 2012.
[3] Matejka, J. & Fitzmaurice, G. Same Stats, differnet Graphs: Generating https://www.autodeskresearch.com/sites/default/files/SameStats-DifferentGraphs.pdf
[4] https://hbx.hbs.edu/blog/post/going-beyond-the-stats-cinderella-teams-and-the-anscombe-quartet
[5]http://www-eio.upc.edu/~pau/cms/rdata/datasets.html